<div class='front'>

  <p class='intro'>
    I am an IT Administrator, Instructor, and Application Developer in Tallahassee, Florida.
  </p>

  <ul>
    <li>My CV</li>
  </ul>

  <h2>Articles</h2>
  <ul>
    <li>Article 1 - Summary - Title, etc</li>
    <li>Arte 2 - Summary - Title, asdf</li>
    <li>Aasdf asdf - Summary - Title, asdf</li>
  </ul>

  <h2>Code</h2>
  <ul>
    <li>Projects on Github &raquo;</li>
    <li>Code Project One - Some Summary and Description</li>
    <li>Code Project One - Some Summary and Description</li>
    <li>Code Project One - Some Summary and Description</li>
    <li>Code Project One - Some Summary and Description</li>
  </ul>
</div>