{% extends 'base.html.twig' %}
{% block content %}
<h1>404 - Not Found</h1>
<p>Whoops, looks like that page does not exist.</p>
<p>
    Would you like to <a href='{{ site_url }}' title='Homepage'>
    head back to the homepage</a>?

{% endblock %}