/* Positioning ----------------------------------------------------------------*/

#main {
	padding-top: 1.5em;
}

/* Header --------------------------------------------------------------------*/

body > header {
	background-color: #CCC;
	border-bottom: 2px solid #111;
	font-size: 1.2em;
}

body > header h1 {
	font-size: 1em;
}

body > header h1 > a,
body > header h1 > a:visited {
	color: #990000;
	text-decoration: none;
}

body > header nav ul {
	margin: 0;
	padding: 0;
	display: table;
	table-layout: fixed;
	width: 100%;
}

body > header nav ul > li {
	display: table-cell;
	padding: 2px 5px;
	text-align: center;
}

body > header > nav ul a,
body > header > nav ul a:visited {
	color: #000;
	text-decoration: none;
	font-family: DroidSansBold;
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	body > header {
		text-align: center;
	}

	body > header h1 {
		display: block;
		padding: 10px auto;
	}

	body > header > nav ul {
		font-size: 0.9em;
	}
}

/* Footer --------------------------------------------------------------------*/

body > footer {
	font-size: 0.9em;
	color: #666;
	padding-bottom: 1em;
}

body > footer a,
body > footer a:visited {
	color: #666;
	text-decoration: none;
}

body > footer a:hover {
	color: #111;
	text-decoration: underline;
}

body > footer ul {
	list-style-type: none;
	text-align: center;
}

body > footer ul li {
	margin: 0 10px;
	display: inline;
}


/* Article -------------------------------------------------------------------*/

.article-content img {
	max-width: 90%;
}

.article-title {
	margin-bottom: 1em;
}

.article-title h1 {
	margin-bottom: 2px;
}

.article-title time {
	display: block;
	margin: 2px;
	font-size: 0.9em;
	color: #444;
}