/* Main CSS File */

/* The files in the templates/pages folder also contain
 * template-specific CSS, so if you can't find something
 * here, check those files.
 */

/* Bootstrap Override ------------------------ */

body > .container {
    margin: 1.8em auto;
}

@media (max-width: 480px) {

    body > .container {
        margin: 0.5em 0;
    }
}

/* General Layout --------------------------- */

body > header {
    background-color: #333;
    border-bottom: 1px solid #F1F1F1;
}

body > header h1 {
    font-size: 1.5em;
    margin: 2px;
    color: #F5F5F5;
}

body > header h1 a {
    color: #F5F5F5;
}

body > header h1 a:hover {
    text-decoration: none;
    color: #cef;
}

@media (max-width: 767px) {
    body > header {
        margin-left: -20px;
        margin-right: -20px;
        text-align: center;
    }
}

.container > footer {
    text-align: center;
    margin-top: 2.5em;
    color: #777;
    font-size: 0.9em;
}

.container > footer a {
    color: #777;
    text-decoration: none;
}

.container > footer a:hover {
    text-decoration: underline;
}

/* One off widgets -------------------------- */

.bigtext {
    font-size: 1.3em;
    margin-bottom: 1em;
}

pre.code {
    margin: 1em auto;
}

pre {
    overflow-x: auto;
}

pre > code {
    white-space: pre;
}

/* Big Shiny Link --------------------------- */

.big-shiny-link {
    border-radius: 12px;
    margin: 0 1em 0 0;
    padding: 0.3em 0.2em 0.3em 1em;
    background-color: #F1F1F1;
}

.big-shiny-link:hover {
    text-decoration: none;
    background-color: #E4E4E4;
}

.big-shiny-link:hover span.go {
    color: #111;
}

.big-shiny-link span.go {
    color: #444;
    margin-left: 0.3em;
    padding: 0 0.3em;
}

@media (max-width: 480px) {

    .big-shiny-link {
        display: block;
        margin: 1em 0.5em;
        padding: 0.6em 1em;
    }
}

/* ItemList --------------------------------- */

.itemlist {
    list-style-type: none;
    margin: 0;
}

.itemlist > li {
    list-style-type: none;
    margin-left: 0;
}

.itemlist > li.highlight {
    color: #990000;
    border-bottom: 1px dotted #CCC;
}

.itemlist > li > * {
    padding: 5px;
}

.itemlist > li.item > a {
    color: #333;
    display: block;
    border: 1px solid #FFF;
}

.itemlist > li.item.highlight > a:hover .title {
    color: #0088cc;
}

.itemlist > li.item > a > i {
    margin-top: 3px;
}

.itemlist > li.item span.title {
    color: #222;
    font-weight: bold;
}

.itemlist > li.item span.aux {
    color: #6C6C6C;
    font-size: 0.9em;
    float: right;
}

.itemlist > li.item span.summary {
    display: block;
    font-size: 0.9em;
    color: #3C3C3C;
    margin-left: 20px;
}

.itemlist > li.item > a:hover {
    text-decoration: none;
    background-color: #F1F1F1;
    border: 1px solid #D4D4D4;
}

.itemlist > li.item.highlight a:hover {
    border: 1px solid #FFF;
}


@media (max-width: 480px) {

    .itemlist > li.item span.aux {
        display: block;
        float: none;
        margin-left: 20px;
    }
}
