/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
  #Site Layout
	#Specific Page Styles
	#Media Queries
	#Font-Face */

/* #Site Layout
================================================== */

/* -- Widgets ------------------------------------ */

.big_text {
	font-size: 1.4em;
	font-weight: bold;
	line-height: 1.2em;
	margin: 20px auto;
	text-align: center;
	width: 90%;
}

.post-list > li:hover {
	background-color: #D6E7F4;
}

.post-list > li > a {
	color: #000;
	text-decoration: none;
	display: block;
	padding: 3px 9px;
}

.post-list span.post_title {
	font-weight: bold;
	display: block;
	margin: 1px;
}

.post-list span.post_desc {
	font-size: 0.9em;
	color: #333;
}

.post-list.floating {
	list-style-type: none;
	padding-left: 0;
}

.post-list.floating > li {
	width: 45%;
	float: left;
}

.tag-list {
	padding: 0;
	margin: 2px 0;
	list-style-type: none;
}

.tag-header {
	font-size: 1em;
	margin-bottom: 2px;
}

.tag-list > li {
	font-size: 0.8em;
	float: left;
	background-color: #F1F1F1;
	margin: 3px;
	padding: 1px 12px 1px 6px;
	border-radius: 0 70px 70px 0;
}

.sidebar-image {
	display: block;
}

.post-update-date,
.post-publish-date {
	font-weight: bold;
}

.post-category {
	font-weight: bold;
}

.latest_post {
	display: block;
	border-radius: 10px;
	background-color: #F1F1F1;
	padding: 8px;
	color: #000;
	text-decoration: none;
}

.latest_post:hover {
	background-color: #D6E7F4;
}

.latest_post > span {
	color: #000;
}

.latest_post .latest_post_txt {
	font-size: 0.9em;
}

.latest_post .latest_post_title {
	font-weight: bold;
}

.latest_post .latest_post_date {
	float: right;
	font-size: 0.9em;
}

.latest_post .latest_post_summary {
	font-size: 0.9em;
	display: block;
	color: #333;
}


/* -- Header ------------------------------------- */

body > header {
	background-color: #333;
	color: #EEE;
}

body > header h1 {
	font-size: 1.1em;
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

body > header h1 > a {
	color: #F5F5F5 !important;
	text-decoration: none;
}

body > header ul {
	float: right;
}

body > header ul li {
	display: block;
	float: left;
	margin: 0.2em 10px 0 10px;
	padding: 0;
}

body > header ul li > a,
body > header ul li > a:visited {
	color: #EEE;
}

body > header ul li > a {
	display: block;
	padding: 0.3em 10px 0.1em 10px;
	border-radius: 5px 5px 0 0;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

body > header ul li > a:hover {
	background-color: #111;
	color: #FFF;
}

body > header ul li.current > a,
body > header ul li.current > a:hover {
	background-color: #FFF;
	color: #111;
}

/* -- Footer ------------------------------------- */

body > footer {
	text-align: center;
	color: #6F6F6F;
}

body > footer,
body > footer p {
	font-size: 14px;
}

body > footer a[rel=license] img {
	margin: 0;
}

/* -- Main Content ------------------------------- */

.container.main {
	padding-top: 20px;
}

/* -- Calendar Default --------------------------- */

.big-calendar-container {
	display: block;
}

.medium-calendar-container,
.little-calendar-container {
	display: none;
}


/* #Specific Page Styles
================================================== */

/* -- Individual Post Pages ---------------------- */

.post-image {
	margin: 2px auto;
	display: block;
	max-width: 275px;
}

.post-meta .post-about {
	display: none;
}

.post > h1 {
	margin-bottom: 1px;
}

.post .post_topline {
	margin-top: 0;
	color: #777;
	font-size: 0.9em;
}

.post .post_topline .post-publish-date,
.post .post_topline .post-update-date {
	font-weight: bold;
}

.post img {
	display: block;
	max-width: 80%;
	margin: 2px auto;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

		/* Calendar */
		.big-calendar-container,
		.little-calendar-container {
			display: none;
		}
		
		.medium-calendar-container {
			display: block;
		}
		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		/* Floating Post List should not Float */
		.post-list.floating > li {
			width: auto;
			float: none;
		}
		
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen /*and (min-width: 480px)*/ and (max-width: 767px) {
	
		/* Header */
		body > header {
			text-align: center;
		}
		
		body > header ul {
			margin: 0px auto;
			padding: 1px;
			float: none;
			display: inline;
		}
		
		body > header ul li  {
			margin: 0 4px;
			background-color: #555;
			font-size: 0.9em;
		}
		
		body > header ul li > a {
			border-radius: 0;
		}
		
		/* Calendar */
		.big-calendar-container,
		.medium-calendar-container {
			display: none;
		}
		
		.little-calendar-container {
			display: block;
		}		
		
		.post-meta .post-about {
			display: block;
		}	
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
	}

	/* Print Stylesheet */
	@media only print {
		
		body > header {
			display: none;
		}
		
		.hresume {
			margin-left: -.25in;
		}
		
		.post-meta .post-about {
			display: block;
		}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
